body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 800px;
    flex-wrap: wrap;
}

.square {
    border: 1px solid black;
    width: calc(100% / 16); 
    height: calc(100% / 16);
    box-sizing: border-box;
}

button {
    width: 110px;
    height: 50px;
}